body{ 
  color: rgb(0, 0, 0);
}
nav {
    background-color: #222;
    color: rgb(216, 211, 211);

    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h2 {
    margin: 0;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links span {
    cursor: pointer;
}
/*welcome page*/
.welcome {
    padding: 20px 20px 20px 20px;
    align-items: center;
}
/* dashboard page*/
main{
    padding: 0px 30px 30px;
}

.add-task-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.add-task-form input {
    text-align: left;
}
/*sat-container*/
.stack-container{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.stat-card{
    padding: 10px;
    background-color: rgba(225, 233, 232, 0.803);
    border-radius: 8px;
    text-align: center ;
    border: 1px solid rgba(0, 0, 0, 0.803);
}
/*task-card*/
.tasks-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.task-card{

   background-color: white;

    border: 1px solid #ccc;
    border-radius: 6px;

    padding: 18px 20px;

    display: flex;
    justify-content: space-between;
    justify:center;
    align-items: center;
}

.task-card h3{
    margin: 0;
    font-size: 18px;
}
.task-card p{
    margin: 0;
}
